[MASTER]
# ignore=tests
# Use a conservative default here; 2 should speed up most setups and not hurt
# any too bad. Override on command line as appropriate.
jobs=2
load-plugins=pylint_strict_informational
persistent=no

[BASIC]
good-names=id,i,j,k,ex,Run,_,fp,T

[MESSAGES CONTROL]
# Reasons disabled:
# format - handled by black
disable=
  format,

[FORMAT]
expected-line-ending-format=LF

[SIMILARITIES]
ignore-imports = yes
