sudo: false


language: python

branches:
  only:
    - master

#
# Test test matrix is spelled out explicitly here.
#
# For each supported version of Python, we will test with:
#
#  * The current release of srpusage.
#
matrix:
  include:
    - python: 3.6
      env: TOXENV=lint
    - python: 3.6
      env: TOXENV=py36
     - python: 3.5
      env: TOXENV=py35


install:
  - pip install -r requirements.txt

script:
  - ./.travis/run tox

