language: python

python:
  - 3.5
  - 3.6

install:
  - pip install -r requirements.txt
  - python setup.py install

script:
 - coverage run --omit */site-packages/* -m unittest test/test_client.py

after_success: coverage report