# Dev Requirements
-r requirements.txt

black==21.9b0
codecov==2.1.7
codespell==2.1.0
coverage==5.1
coveralls==2.0.0
flake8==3.8.3
flake8-docstrings==1.5.0
isort==4.3.21
pre-commit==2.5.1
pydocstyle==5.0.2
pylint==2.5.3
pylint-strict-informational==0.1
pytest==5.4.3
pytest-cov==2.10.0
